{% for vlan in L2_vlan %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.name }}
{% if vlan.l3 is defined %}
interface vlan{{ vlan.vlan_id }}
  ip address {{ vlan.ip_address | ipaddr('address') }} {{ vlan.ip_address | ipaddr('netmask') }}
  no shutdown
{% if vlan.hsrp is defined %}
  description {{ vlan.desc }}
  standby {{ vlan.vlan_id }} ip {{ vlan.standby_ip }}
  standby {{ vlan.vlan_id }} priority {{ vlan.priority }}
  standby {{ vlan.vlan_id }} preempt
{% if vlan.track is defined %}
  standby {{ vlan.vlan_id }} track {{ vlan.track.number }} decrement {{ vlan.track.decrement }}
{% else %}
{% endif %}
{% endif %}
{% if vlan.vrrp is defined %}
  vrrp {{ vlan.vlan_id }} ip {{ vlan.standby_ip }}
  vrrp {{ vlan.vlan_id }} priority {{ vlan.priority }}
{% if vlan.track is defined %}
  vrrp {{ vlan.vlan_id }} track {{ vlan.track.number }} decrement {{ vlan.track.decrement }}
{% else %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}